html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

/*********************************/
/*            PORTAL             */
/*********************************/

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.portal .links > a {
    color: rgba(247, 246, 249, 0.87);
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.portal {
    background-color: black;
    color: white;
}

/******************************/
/*         USERPANEL          */
/******************************/

.container-fluid {
    margin-top: 2em;
}

    /*** NAVBAR ***/

    .navbar-brand {
        margin-right: 8em;
    }

/***************/
/*   CONTENT   */
/***************/

    .listpanel .list-group-item.active {
        background: #484e51;
        border-color: #4e555b;
        color: white;

    }
    .listpanel .list-group-item{
        color: black;
        font-size: 13px;
    }

    #side-addconnection-list, #side-myconnections-list {
        display: flex;
        line-height: 25px;
    }
    #side-addconnection-list span, #side-myconnections-list span {
        margin-right: 0.3em;
    }

    /*   ADD CONNECTION FORM   */
    /***************************/
    .addconnection {
        border: 1px solid rgba(128, 128, 128, 0.41);
        border-radius: 7px;
        padding: 1.3em;
        display: flex;
        justify-content: center;
    }
    .addconnection form {
        width: 80%;

    }
    .addconnection form .btn {
        margin-top: 0.5em;
        width: 100%;
    }

    .addconnection form div input {
        font-size: 14px;
    }
    .addconnection form div input:focus {
        box-shadow: none;
        border: 1px solid rgba(128, 128, 128, 0.41);
    }

    .addconnection form .testbtn {
        margin-top: 1em;
        font-size: 13px;
        line-height: 25px;
        width: 40%;
    }
    .res_success {
        background-color: rgba(104, 215, 92, 0.76);
        color: white;
        -webkit-transition: background-color 1s, color 1s;
    }
    .res_fail {
        background-color: rgba(229, 27, 23, 0.64);
        color: #000000;
        -webkit-transition: background-color 1s, color 1s;
    }
    .res_fail img {
        width: 10px
    }

    /* Start by setting display:none to make this hidden.
    Then we position it in relation to the viewport window
    with position:fixed. Width, height, top and left speak
    for themselves. Background we set to 80% white with
    our animation centered, and no-repeating */
    .loading-modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
        url('http://i.stack.imgur.com/FhHRx.gif')
        50% 50%
        no-repeat;
    }

    /* When the body has the loading class, we turn
       the scrollbar off with overflow:hidden */
    body.loading .loading-modal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .loading-modal {
        display: block;
    }